<!doctype html>
<html>
<head>
    <title> Video Library </title>
</head>

<body>
<h2> Your data was written in confirm </h2>

<form action="/" method='GET'>
    <input type="submit" value="back to start">
</form>