<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/formula.css">
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title> Video Library </title>
</head>

<body>
<h2> this is decision site </h2>



<form action="/" method='GET'>
    <input id="subBtn" type="submit" value="back to start">
</form>
</body>
</html>