<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Video Library delete panel
        {{ title_of_head }}
    </title>
</head>
<body>
<h2>Delete existing video -
    {{ title_of_head }}</h2>
<form action="/decision" method="post">
    <label for="id">Video id</label><br>
    <textarea name="id" id="id" >{{ id }}</textarea><br><br>


   <label> <input type="radio" name="choice" value="delete">I  want delete movie</label>
    <br><br>
    <label> <input type="radio"  name="choice" value="edit">I want edit movie</label>
    <br><br>
    <input type="submit" value="back to start">


</form>

</body>
</html>