<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Video Library delete panel
        {{ title_of_head }}
    </title>
</head>
<body>
<h2>Delete existing video -
    {{ title_of_head }}</h2>
<form action="/decison{{id}}" method="post"> <label for="id">Video id</label><br>
    <textarea name="id" id="id" >{{ id }}</textarea><br><br>

    <input type="checkbox" id="delete" name="delete" value="delete">
    <label for="vehicle1"> I want delete movie</label><br>
    <input type="checkbox" id="edit" name="edit" value="edit">
    <label for="edit"> I want edit movie</label><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>