<!doctype html>
<html>
<head>
    <title> edit </title>
</head>

<body>
<h2> Your data was written in edit </h2>

<form action="/" method='GET'>
    <input type="submit" value="back to start">
</form>