<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/test.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<!--    <script src="views/main.js"></script>-->
    <title>Main page</title>
</head>
<body>
<p id="title"><h1> Video Library menu </h1>

<div class="slideshow-container">

    <div class="mySlides fade">
        <img src="img/1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="img/2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <img src="img/3.jpg" style="width:100%">
    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<div class="btnBlock">
<form action="/shit" method='GET'>
    <input id="btnMain" type="submit" value="Add new video">
</form>
<form action="/search" method='GET'>
    <input id="btnMain" type="submit" value="Search">
</form>
<form action="/edit" method='GET'>
    <input id="btnMain" type="submit" value="Edit video">
</form>
<form action="/search5" method='GET'>
    <input id="btnMain" type="submit" value="Get five">
</form>
</div>


<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        const slides = document.getElementsByClassName("mySlides");
        const dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>
</body>
</html>