<!doctype html>
<html>
<head>
    <title> Main page</title>
</head>

<body>
<h2> Video Library </h2>


<form action="/shit" method='GET'>
    <input type="submit" value="Add new video">
</form>

<form action="/search" method='GET'>
    <input type="submit" value="Search">
</form>

<form action="/edit" method='GET'>
    <input type="submit" value="Edit video">
</form>

<form action="/delete" method='GET'>
    <input type="submit" value="Delete video">
</form>