<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap" rel="stylesheet">
    <script src="main.js"></script>
    <title>Main page</title>
</head>

<body>
<h2> Video Library menu </h2>


<form action="/shit" method='GET'>
    <input type="submit" value="Add new video">
</form>

<form action="/search" method='GET'>
    <input type="submit" value="Search">
</form>

<form action="/edit" method='GET'>
    <input type="submit" value="Edit video">
</form>

<form action="/delete" method='GET'>
    <input type="submit" value="Delete video">
</form>

<form action="/iframe" method='GET'>
    <input type="submit" value="Get five">
</form>


<div class="slideshow-container">
    <div class="mySlides">
        <div class="numbertext">
            1 / 3
        </div>
        <img src="img/image1.jpg" alt="background">
        <div class="text">First image</div>
    </div>
    <div class="mySlides">
        <div class="numbertext">
            2 / 3
        </div>
        <img src="img/image2.jpg" alt="background">
        <div class="text">Second image</div>
    </div>
    <div class="mySlides">
        <div class="numbertext">
            3 / 3
        </div>
        <img src="img/image3.jpg" alt="background">
        <div class="text">Third image</div>
    </div>
</div>