<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/formula.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title> Video Library searching panel
        {{ title_of_head }}
    </title>
</head>
<body>
<form action="/" method='GET'>
    <input id="backMenu"  type="submit" value="back to start">
</form>
<h1>Search video </h1>
<form class="allForm" action="/viewResult" method="post">
    <div class="lineForm">
    <label for="tag">write tag</label>
    <textarea name="tag" id="tag" >{{ tag }}</textarea><br><br>
    </div>
    <input id="subBtn" type="submit" value="Confirm">

</form>
</body>
</html>