html {
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    background-image: url("https://wallpaperset.com/w/full/9/1/5/354209.jpg");
    font-size: xx-large;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: 100% 100%;
    color: navajowhite;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.allForm {
    margin: 1.25em auto;
    width: 800px;
    padding: 0.9em 0.9em 1.25em;
    border-radius: 1em 2em 1em 2em;
    background-color: rgb(87, 67, 70);
}

.lineForm {
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0;
    display: flex;
    border: 0.06em solid rgb(132, 93, 101);
    box-sizing: border-box;
    /*border-radius: 1.25em;*/
    opacity: .6;
    text-align: left;

}

label {
    flex: 2;
}

textarea, input {
    flex: 4;
    outline: none;
}

#subBtn {
    background-color: rgb(75, 56, 59);
    padding: .6em 1.5em ;
    margin-left: 500px;
    border-radius: 15px;
    font-family: 'Bangers', cursive;
    font-size: 1em;
    color: navajowhite;
}

#subBtn:focus {
    outline: none;
}