html {
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    background-image: url("https://wallpaperset.com/w/full/9/1/5/354209.jpg");
    font-size: xx-large;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: 100% 100%;
    color: navajowhite;
    display: flex;
    text-align: left;
}

h1{
    font-size: 3em;
    text-align: center;
}

h3{
    font-size: 3em;
    text-align: center;
    margin-left: 3em;
}

h2 {
    font-size: 1em;
}

.moviesList {
    display: inline-block;
    width: 10em;
}

ol {
    font-size: 0.4em;
}

#col {
    color: #de9924;
    display: inline-block;
}

iframe {
    width: 300px;
    height: 200px;
    border: transparent;
    border-radius: 15px;
}

#backMenu {
    background-color: rgb(75, 56, 59);
    padding: .6em 1.5em ;
    margin-left: 0;
    border-radius: 15px;
    font-family: 'Bangers', cursive;
    font-size: 1em;
    color: navajowhite;
    position: absolute;
}

#backMenu:focus {
    outline: none;
}

#goSearch {
    background-color: rgb(75, 56, 59);
    padding: .6em 1.5em ;
    margin-left: 40em;
    border-radius: 15px;
    font-family: 'Bangers', cursive;
    font-size: 1em;
    color: navajowhite;
    position: absolute;
}

#goSearch:focus {
    outline: none;
}

#goSearchAg {
    background-color: rgb(75, 56, 59);
    padding: .6em 1.5em ;
    margin-left: 0;
    margin-top: 3em;
    border-radius: 15px;
    font-family: 'Bangers', cursive;
    font-size: 1em;
    color: navajowhite;
    position: absolute;
}

#goSearchAg:focus {
    outline: none;
}