* {
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
    background-image: url("https://wallpaperset.com/w/full/9/1/5/354209.jpg");
    font-size: xx-large;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
    background-size: 100% 100%;
    text-align: center;
    color: navajowhite;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

h1 {
    font-size: 2em;
}

.full {
    max-width: 50em;
    min-width: 20em;
    padding-bottom: 1em;
    position: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border-radius: 2px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.btnBlock {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

#btnMain {
    padding: 2em;
    width: 250px;
    height: 150px;
}